<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <!--开启shiro的注解-->
        <aop:config proxy-target-class="true" ></aop:config>
        <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
                <property name="securityManager" ref="securityManager"/>
        </bean>

        <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
                <property name="realm" ref="authRealm" /><!--引入自定义的realm-->
                <!--<property name="cacheManager" ref="shiroEhcacheManager"/> &lt;!&ndash;e二级缓存&ndash;&gt;-->
                <property name="sessionManager" ref="sessionManager"/>
        </bean>

        <!--自定义权限认证-->
        <bean id="authRealm" class ="com.lug.shiro.AuthReam">
                
                <property name="credentialsMatcher" ref="passwordMatcher"/>
        </bean>

        <!--设置加密算法 加密策略 md5hash-->
        <bean id="passwordMatcher" class="com.lug.shiro.CommonMatcher"/>

        <!-- 此bean要被web.xml引用,和web.xml中的filtername同名 -->
        <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
                <property name="securityManager" ref="securityManager"/>
                <property name="loginUrl" value="/index.jsp"/>         <!--没有认证返回的地址-->
                <property name="unauthorizedUrl" value="index2.jsp"/> <!--没有授权返回的地址-->
                <property name="filterChainDefinitions">
                        <value>  <!---**代表任意子目录-->
                                /login/**     = anon
                                /user/**      = authc,roles[admin]
                                /test/**      = authc,perms[测试kkk]
                                /role         = authcBasic
                        </value>
                </property>
        </bean>

        <!-- 用户授权/认证信息Cache, 采用EhCache  缓存 -->
       <!-- <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
                <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
        </bean>-->


        <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
        <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
        <!-- 生成代理，通过代理进行控制 -->
        <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">

        </bean>-->

        <!-- 会话管理器 -->
        <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
                <property name="globalSessionTimeout" value="36000000"/><!--过期时间十个小时-->
                <property name="deleteInvalidSessions" value="true"/>
                <property name="sessionValidationSchedulerEnabled" value="true"/>
                <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
                <property name="sessionDAO" ref="sessionDAO"/>
                <property name="sessionIdCookieEnabled" value="true"/>
                <property name="sessionIdCookie" ref="sessionIdCookie"/>
        </bean>


        <!-- 安全管理器 -->
        <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
                <property name="securityManager" ref="securityManager"/>

        </bean>

        <!--sessionId生成器-->
        <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.RandomSessionIdGenerator"/>

        <!--cookie过期时间设置-->
        <!-- Cookie模板会话 -->
        <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
                <constructor-arg value="sid"/>
                <property name="httpOnly" value="true"/>
                <property name="maxAge" value="432000"/><!--10天-->
        </bean>

        <!-- 会话DAO -->
        <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
                <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
                <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
        </bean>

        <!-- 会话验证调度器 -->
        <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
                <property name="sessionValidationInterval" value="1800000"/>
                <property name="sessionManager" ref="sessionManager"/>
        </bean>


        <!--控制器异常处理-->
        <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
        </bean>
        <bean class="com.lug.web.exception.DefaultExceptionHandler"/>
</beans>