<component name="ArtifactManager">
  <artifact type="war" name="springMVC_shiro_reids:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springMVC_shiro_reids.war">
      <element id="artifact" artifact-name="springMVC_shiro_reids:war exploded" />
    </root>
  </artifact>
</component>